<application-page class="berdieView portfolioView">

    <header>

        <a href="/"><i class="fa fa-arrow-circle-left"></i> Home</a>

    </header>

    <section class="portfolio-hero">

        <h1>Berdie</h1>

        <p>The adventures of a bird.</p>

        <p class="arrow"><i class="fa fa-arrow-circle-down"></i></p>

    </section>

    <section class="video">

        <div class="container">

            <div class="content">

                <h1>COLLECT COINS!</h1>

                <p>Use your phone to control Berdie into colliding with a coin to collect it.</p>

            </div>

        </div>

        <video autoplay loop>
            <source src="/client/assets/videos/portfolio-items/berdie/bg.webm" type="video/webm">
            <source src="/client/assets/videos/portfolio-items/berdie/bg.mp4" type="video/mp4">
        </video>

    </section>

    <section class="about">

        <div class="container">

            <p>Berdie is the frustrating game where you control a bird into colliding with coins to collect them, this with insanely annoying accelerometer based controls and a time limit.<br/><br/>Berdie was created as a part of a school assignment, where I was in charge of the code and art. Berdie was written in Swift and utilizes SpriteKit.</p>

            <a href="">Download (iOS)</a> <a href="">Github</a>

        </div>

    </section>

    <section class="contact">

        <div class="container">

            <h1>Thanks!</h1>

            <p>If you are interested about knowing more, hit me up on <a href="{{ twitterLink }}" target="_blank">twitter!</a></p>

        </div>

    </section>

</application-page>