<application-page class="berdieView portfolioView">

    <header>

        <a href="/"><i class="fa fa-arrow-circle-left"></i> Home</a>

    </header>

    <section class="portfolio-hero">

        <h1>Berdie</h1>

        <p>The adventures of a bird.</p>

        <p class="arrow"><i class="fa fa-arrow-circle-down"></i></p>

    </section>

    <section class="video">

        <div class="container">

            <div class="content">

                <h1>find berdie's coins!</h1>

                <p>Use your phone to control Berdie into colliding with a coin to collect it.</p>

            </div>

        </div>

        <video autoplay loop>
            <source src="/client/assets/videos/portfolio-items/berdie/bg.webm" type="video/webm">
            <source src="/client/assets/videos/portfolio-items/berdie/bg.mp4" type="video/mp4">
        </video>

    </section>

</application-page>