<div class="popup-click" ng-click="contact()" ng-class="{'show': showContactPopup}"></div>
<div class="popup" ng-class="{'show': showContactPopup, 'animate': animateContactPopup, 'animate-out': contactPopup.animateOut}" ng-style="{'margin-top': contactPopup.marginTop, 'margin-left': contactPopup.marginLeft}">

    <input type="text" placeholder="Email" />
    <textarea placeholder="Message"></textarea>

    <a href="#" ng-click="contactSend()">SEND <i class="fa fa-envelope"></i></a>

</div>
<a href="#" ng-click="contact()">Email</a>