<application-page class="indexView">

    <section class="hero">

        <div class="image-container">

            <div class="image"></div>

        </div>

        <div class="intro-container">

            <div class="intro">
                <h2>HELLO</h2>
                <h3>I'M SAM</h3>
                <span class="wave"></span>
                <p>A CREATIVE DESIGNER AND DEVELOPER BASED IN SWEDEN WHO LOVES SKATEBOARDING.</p>
                <span class="wave"></span>
            </div>

        </div>

    </section>

    <section class="portfolio">

        <ul id="portfolio">

            <li class="striveforwards">

                <div class="container">

                    <div sn-skrollr data-0-bottom-top="transform: translateX(100%)"
                         data--200-center-top="transform: translateX(0px)" class="meta">

                        <h1>Strive Forwards</h1>
                        <p>A source of inspiration curated by history.</p>
                        <a href="/projects/strive-forwards">See project <i class="fa fa-arrow-circle-right"></i></a>

                    </div>

                </div>

            </li>

            <li class="berdie">

                <div class="container">

                    <div sn-skrollr data-0-bottom-top="transform: translateX(-100%)"
                         data--200-center-top="transform: translateX(0px)" class="meta">

                        <h1>Berdie</h1>
                        <p>The adventures of Berdie, the bird who need help to find his coins.</p>
                        <a href="/projects/berdie">See project <i class="fa fa-arrow-circle-right"></i></a>

                    </div>

                </div>

            </li>

        </ul>

    </section>

    <section class="me">

        <div class="container">

            <div class="image-container">

                <img src="/client/assets/images/me.jpg" />

            </div>

            <div class="text-container">

                <p>
                    I’m probably what most people call a geek, a technology fanatic with a
                    deep interest in programming and graphic design.
                    <br/><br/>
                    As a designer i visualize things and as a developer i build them,
                    I'm driven by my passion for good looking things. I love being creative,
                    to write code and to learn new tricks.
                    <br/><br/>
                    I enjoy writing code because it makes me feel alive, the motivation I get
                    from solving problems is what to keeps me going.
                    <br/><br/>
                    When I'm not behind my desk doing something super creative, I like to take
                    a skate around town and get insanely lost.
                </p>

                <ul>

                    <li><a href="https://www.twitter.com/fotomagin" target="_blank">Twitter</a></li>
                    <li><a href="https://www.github.com/sampettersson" target="_blank">Github</a></li>
                    <li><a href="https://www.instagram.com/fotomagin" target="_blank">Instagram</a></li>
                    <li>
                        <contact-popup></contact-popup>
                    </li>

                </ul>

            </div>

        </div>

    </section>

</application-page>
