<application-page class="indexView">

    <section class="hero">

        <div class="branding">
            <img src="/client/assets/graphics/skateboard.svg" />
        </div>

        <div class="intro">

            <h2>HELLO</h2>
            <h3>I'M SAM</h3>
            <span class="wave"></span>
            <p>A CREATIVE DESIGNER AND DEVELOPER BASED IN SWEDEN WHO LOVES SKATEBOARDING.</p>
            <span class="wave"></span>

        </div>

    </section>

    <section class="portfolio" id="skrollr-body">

        <ul id="portfolio">
            <li sn-skrollr
                data-0-bottom-top="transform: translateY(200px)"
                data--200-center-top="transform: translateY(0px)">


            </li>
        </ul>

    </section>

</application-page>
