<application-page class="orebroConcertHallView portfolioView">

    <header>

        <a href="/"><i class="fa fa-arrow-circle-left"></i> Back</a>

    </header>

    <section class="portfolio-hero">

        <h1>Örebro Concert Hall</h1>

        <p>A fresh start for classical music.</p>

        <p class="arrow"><i class="fa fa-arrow-circle-down"></i></p>

    </section>

    <section class="divider"></section>

    <section class="about">

        <div class="content">

            <div class="imgContainer">
                <img src="/client/assets/images/portfolio-items/orebro-concert-hall/screen.png" />
            </div>

            <div class="container">

                <h1>Rebooting the online experience for music lovers</h1>

                <div class="divider"></div>

                <p>Örebro Concert Hall was in need of a refreshed website to complement the re-opening of their newly renovated concert hall.<br/><br/>My role included deliviering both front-end and back-end in JQuery, SASS, Java (Nashorn).</p>
 
                <a href="http://orebrokonserthus.com" target="_blank">SEE IT LIVE</a>
                <a href="http://www.strateg.se" target="_blank">STRATEG</a>

            </div>

        </div>

    </section>

    <section class="contact">

        <div class="container">

            <h1>Thanks!</h1>

            <p>If you are interested about knowing more, hit me up on <a href="{{ twitterLink }}" target="_blank">twitter!</a></p>

        </div>

    </section>

</application-page>