<application-page class="striveforwardsView portfolioView">

    <header>

        <a href="/"><i class="fa fa-arrow-circle-left"></i> Home</a>

    </header>

    <section class="portfolio-hero">

        <h1>Strive Forwards</h1>

        <p>A source of inspiration curated by history.</p>

        <p class="arrow"><i class="fa fa-arrow-circle-down"></i></p>

    </section>

    <section class="divider"></section>

    <section class="about">

        <div class="content">

            <img src="/client/assets/images/portfolio-items/strive-forwards/screen.png" />

            <div class="container">

                <h1>A project for greater equality</h1>

                <div class="divider"></div>

                <p>Strive Forwards is a project that aims at inspiring people to
                    be leading change agents. Written in node.js (with some coffee) and angular.js.</p>

                <a href="https://strive.pusselbit.com" target="_blank">SEE IT LIVE</a>
                <a href="https://www.github.com/sampettersson/striveforwards" target="_blank">GITHUB</a>

            </div>

        </div>

    </section>

    <section class="contact">

        <div class="container">

            <h1>Thanks!</h1>

            <p>If you are interested about knowing more, hit me up on <a href="{{ twitterLink }}" target="_blank">twitter!</a></p>

        </div>

    </section>

</application-page>