<application-page class="swedishHeroesInSchoolView portfolioView">

    <header>

        <a href="/"><i class="fa fa-arrow-circle-left"></i> Back</a>

    </header>

    <section class="portfolio-hero">

        <h1>Swedish Heroes in School</h1>

        <p>Taking the heroes of Sweden into the classroom.</p>

        <p class="arrow"><i class="fa fa-arrow-circle-down"></i></p>

    </section>

    <section class="divider"></section>

    <section class="about">

        <div class="content">

            <img src="/client/assets/images/portfolio-items/swedish-heroes-in-school/screen.png" />

            <div class="container">

                <h1>Brining interactive stories about brave people into the classroom</h1>

                <div class="divider"></div>

                <p>Swedish Heroes in School is an interactive online seminar aiming at shaping the next-generation of youth heroes.<br/><br/>My work included delivering a video based learning platform written in PHP (Codeigniter), front-end in JQuery, SASS and deployment to Heroku.</p>
 
                <a href="http://svenskahjaltariskolan.se" target="_blank">SEE IT LIVE</a>
                <a href="http://www.strateg.se" target="_blank">STRATEG</a>

            </div>

        </div>

    </section>

    <section class="contact">

        <div class="container">

            <h1>Thanks!</h1>

            <p>If you are interested about knowing more, hit me up on <a href="{{ twitterLink }}" target="_blank">twitter!</a></p>

        </div>

    </section>

</application-page>