<html ng-app="sampettersson.com" ng-controller="applicationController">
	<head>

		<title>\{{ title }}</title>
		<meta charset="utf-8" />

        <base href="/">
		<link rel="stylesheet" href="/client/assets/app.css" />

	</head>
    <body>
        <application-root ng-include="'/client/views/applicationView.html'" class="application"></application-root>
        <script type="application/javascript" src="/client/build/app.js"></script>
    </body>
</html>