<!doctype html>
<html ng-app="sampettersson.com" ng-controller="applicationController" ng-class="{
    'mobile': device.mobile,
    'desktop': device.desktop,
    'ios': device.ios,
    'android': device.android
    }">
	<head>

		<title>Sam Pettersson</title>
		<meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="A CREATIVE DESIGNER AND DEVELOPER BASED IN SWEDEN WHO LOVES SKATEBOARDING." />
        <base href="/">
		<link rel="stylesheet" href="/client/assets/app.css" />

	</head>
    <body>
        <application-root class="application"></application-root>
        <script type="application/javascript" data-cfasync="false" src="/client/build/app.js"></script>
    </body>
</html>