@font-face {
    font-family: 'geometriathin';
    src: url('fonts/Geometria-Thin-webfont.eot');
    src: url('fonts/Geometria-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geometria-Thin-webfont.woff2') format('woff2'),
         url('fonts/Geometria-Thin-webfont.woff') format('woff'),
         url('fonts/Geometria-Thin-webfont.ttf') format('truetype'),
         url('fonts/Geometria-Thin-webfont.svg#geometriathin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometriabold';
    src: url('fonts/Geometria-Bold-webfont.eot');
    src: url('fonts/Geometria-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geometria-Bold-webfont.woff2') format('woff2'),
         url('fonts/Geometria-Bold-webfont.woff') format('woff'),
         url('fonts/Geometria-Bold-webfont.ttf') format('truetype'),
         url('fonts/Geometria-Bold-webfont.svg#geometriabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sans_roundedmedium';
    src: url('fonts/ostrich-rounded-webfont.eot');
    src: url('fonts/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich-rounded-webfont.woff2') format('woff2'),
         url('fonts/ostrich-rounded-webfont.woff') format('woff'),
         url('fonts/ostrich-rounded-webfont.ttf') format('truetype'),
         url('fonts/ostrich-rounded-webfont.svg#ostrich_sans_roundedmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sanscondensed_light';
    src: url('fonts/ostrich-light-webfont.eot');
    src: url('fonts/ostrich-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich-light-webfont.woff2') format('woff2'),
         url('fonts/ostrich-light-webfont.woff') format('woff'),
         url('fonts/ostrich-light-webfont.ttf') format('truetype'),
         url('fonts/ostrich-light-webfont.svg#ostrich_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}